@{
    ViewData["Title"] = "Home Page";
}

<div>
    <li><a asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
</div>
